USE [Event]
GO
/****** Object:  StoredProcedure [dbo].[InsertLog]    Script Date: 9/6/2025 9:44:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------
-- Autor: Briangel Abreu		--
-- Date: 4-06-2025				--
-- Description: Insert logs in	--
-- dbo.Logs table				--
----------------------------------
CREATE PROCEDURE [dbo].[InsertLog]
	@SourceSystem NVARCHAR(50),
	@UserId INT = NULL,
	@Action NVARCHAR(100),
	@Description NVARCHAR(500)
AS
BEGIN
	INSERT INTO dbo.Logs (SourceSystem, UserId, Action, Description)
	VALUES (@SourceSystem, @UserId, @Action, @Description)
END;
GO
